.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.info {
    display: inline-block;
    margin: 1rem;
}
.profileHeader{
    margin-top: 1rem;
    text-align: center;
}
.username {
    font-weight: bold;
    font-size: 2rem;
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.email {
    font-weight: bold;
    font-size: 1rem;
    display: block;
    position: absolute;
    top: 66%;
}

.profile {
    margin: 2rem auto 0 auto;
    width: fit-content;
    max-width: 80%;
    position: relative;
}

.userSince {
    margin-bottom: 0;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
}

.row {
    margin: 1rem auto;
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.noPostsPresentInfo {
    text-align: center;
    margin: 1rem auto;
    width: 40%;
}

@media (min-width: 480px) {
    .row {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 780px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1140px) {
    .row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1300px) {
    .row {
        grid-template-columns: repeat(4, 1fr);
    }
}