
.post {
    width: 45%;
    max-width: 80%;
    margin: 1rem auto 1rem auto;
    border-radius: 1rem;
    padding: 1.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media only screen and (max-width: 500px) {
    .post {
        width: 90%;
    }
}

@media only screen and (max-width: 920px) {
    .post {
        width: 70%;
    }

}

.post > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.userImage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.heartFilled {
    display: inline-block;
    color: red;
}

.username {
    cursor: pointer;
    font-size: 18px;
    display: inline-block;
    font-weight: bolder;
}

.menu {
    margin: .5rem;
}

.menu > h1 {
    font-size: 18px;
    display: inline-block;
    font-weight: normal;
}